main {
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  font-size: 18px;
  margin: 0 10px;
  padding: 5px 10px;
}

span {
  font-size: 24px;
  margin: 0 10px;
}

.big-button {
  font-size: 24px;
  padding: 20px 40px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.big-button:hover {
  background-color: darkgreen;
}